<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristianodevpro.contab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".NovaReceita"
            android:label="@string/Nova_receita_actv"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Sobre"
            android:label="@string/sobre"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NovaDespesa"
            android:label="@string/nova_despesa_act"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Definicoes"
            android:label="@string/definicoes"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GerirCategorias"
            android:label="@string/gerir_cat"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListarTodos"
            android:label="@string/listar_todos"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditReceita"
            android:label="@string/editar_receita"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditDespesa"
            android:label="@string/editar_despesa"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListarAno"
            android:label="@string/listar_ano"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListarMes"
            android:label="@string/listar_mes"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListarDia"
            android:label="@string/listar_dia"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            ></activity>

        <provider
            android:authorities="com.cristianodevpro.contab.ContabContentProvider"
            android:name="com.cristianodevpro.contab.ContabContentProvider"
            android:exported="false" />
    </application>

</manifest>